<style lang="less" type="text/less" scoped>
.scenic{
        text-align: center;
        color: white;
        width:100%;
        height: 1.2rem;
        bottom:0;
        position: absolute;
    }
.main_content {
  width: 100%;
  height: 100%;
  position: relative;
}
.load{
  width: 100%;
  height: 100%;
  position: absolute;
  
}
.loading{
    margin-top: 30%;
    height: 50px;
    color: #05a1cd;
     font-size: 30px;
  }
  .reload{
  width: 100%;
  height: 100%;
  position: absolute;
  
}
.reloading{
    margin-top: 30%;
    height: 150px;
    width: 200px;
    margin-left: 37%;
    font-size: 30px;
  }
.itembox{
  width: 100%;
  height: 80%;
  div{
    width: 100%;
    height: 100%;
  }
}
.week{
    height: 1.5rem !important;
    width: 7rem !important;
    position: absolute;
    top: 5%;
    right: 10%;
    font-size:0.8rem;
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        line-height: 25px;
     }
    .oneweek{
      cursor: pointer;
      float: left;
      height: 1.5rem;
      line-height:1.5rem;
      width: 47%;
      color: #abb5d3;
      background-image:url('../../../../assets/images/home/透明框—14日.png');
      background-size: 100% 100%;
      &.chose{
        background-image:url('../../../../assets/images/home/透明框—7日.png');
          background-size: 100% 100%;
          color:#d3ddf9;
      }
    }
    .twoweek{
      cursor: pointer;
      float: right;
      height: 1.5rem;
      line-height:1.5rem;
      width: 47%;
      color: #abb5d3;
      background-image:url('../../../../assets/images/home/透明框—14日.png');
      background-size: 100% 100%;
      &.chose{
        background-image:url('../../../../assets/images/home/透明框—7日.png');
          background-size: 100% 100%;
          color:#d3ddf9;
      }
    }
  }
      .chose{
          background-image:url('../../../../assets/images/home/透明框—7日.png');
          background-size: 100% 100%;
      }
</style>
<template>
  <div class="main_content" id="A1loding">
    <div :id="idName" class="itembox"></div>
    <!-- <div class="week">
        <span class="oneweek " v-bind:class="{ chose: isActive }" @click='redom7'>7日</span>
        <span class="twoweek" v-bind:class="{ chose: !isActive }" @click='redom14'>14日</span>
    </div> -->
     <div class="scenic">{{scenics}}</div>
  </div>
</template>
<script>
import echarts_resize from '@/common/js/echarts_resize.js'
 import echarts from 'echarts';
import { mapGetters } from 'vuex'
import store from '@/vuex/index' 
import { mapActions } from 'vuex'
import timeMixin from '@/common/js/mixin/timeMixin.js'
import Vue from 'vue'
export default {
    name:'a1',
    props:{
        idName:{
            type: String,
            required: true
        },
        scenics:{
            type: String,
            required: false
        },
        isActive:{
            type: Boolean,
            required: false
        },
        barData:{
            type: Array,
            required: false
        },
    },
    watch:{
        isActive:function(val){
            val === false ? this.redom14():this.redom7();
        },
        barData:{
            handler: function (val, oldVal) {
                if(this.chart){
                        this.chart.dispose();
                    }
                //   this.isActive=true;
                let dataY=[];
                let dataX=[];
                for (var i = 0; i < this.barData.length; i++) {
                    dataY.push(this.barData[i].num);
                    dataX.push(this.barData[i].dayId.replace(/-/g,"/"))
                }
                this.$nextTick(echarts_resize(this.idName,this,dataX,dataY))
            },
            deep: true
        }
    },
    data() {
      return {
        chart: null,
        xnub:null,
        ynub:null,
        loading:true,
        reloading:false,
        oneweekMock:[
            {"nub":"1293","date":"6/14"},
            {"nub":"2331","date":"6/15"},
            {"nub":"1012","date":"6/16"},
            {"nub":"999","date":"6/17"},
            {"nub":"2458","date":"6/18"},
            {"nub":"2122","date":"6/19"},
            {"nub":"1789","date":"6/20"}
        ],
        opinion: ['学习氛围差', '学习氛围一般', '学习氛围很好'],
        opinionData1: [

        ],
        opinionData2: this.$store.state.data,
        opinionData: [
            {value:26, name:'学习氛围差'},
            {value:31, name:'学习氛围一般'},
            {value:8, name:'学习氛围很好'}
          ],
        option:{
                    backgroundColor: 'rgba(0,0,0,0)',
                    color: ['#1F6ABB','#3897C5','#A4C5E6'],
                    grid: {
                         show: true,
                         left: '15%',
                         top: '30%',
                         right: '10%',
                         bottom: '10%',
                         borderWidth: 0,
                         backgroundColor: 'rgba(0,0,0,0)',
                     },
                    xAxis: [
                        {
                        axisLabel :{  
                            interval:0   
                        }  ,
                        show:true,
                        barGap: 0,
                      //  boundaryGap: false,
                        
                        padding:0,
                        barMaxWidth:6,
                        type: 'category',
                        // data: datax,
                        fontSize: 6,
                        scale: true,
                        lineStyle:2,
                        splitNumber:14,
                        minInterval:7,
                        axisLine: { //坐标轴轴线相关设置。就是数学上的x轴
                             show: true,
                                lineStyle: {
                                    color: 'rgba(170,172,178,0.53)'
                             },
                        },
                         axisLabel: {
                             textStyle: {
                                 color: '#ffffff',//x坐标轴标签字体颜色
                                 fontSize: 12,
                             },
                        },
                        axisTick:{
                                show:false,
                        },
                        splitLine:{
                            show:true,
                            lineStyle:{
                                color:'#20549f',
                                width:1,
                                type:'solid'
                            },
                        }

                        }
                    ],
                    yAxis:{
                        show:true,
                        nameTextStyle:{
                          color:'#ffffff'
                        },
                        splitLine:{
                          show:false,
                        },
                        axisLabel:{
                            showMinLabel:true,
                          textStyle:{
                            color:'rgba(0,0,0,0)',
                            fontSize: 12,
                          }
                        },
                        axisLine: { //坐标轴轴线相关设置。就是数学上的y轴
                            show: false,
                            lineStyle: {
                                color: 'rgba(170,172,178,0.53)'
                            },
                        },
                        axisTick:{
                            show:false,
                        }
                    },
                    series : [
                    {
                        name:'计划',
                        type:'bar',
                        barMaxWidth:'50%',
                        // data:datay,
                        itemStyle:{
                            normal: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                    {offset: 0, color: '#86b6ff'},
                                    {offset: 0.5,color:'#6a95fe'},
                                    {offset: 1, color: '#5d88f7'}
                                    ]
                                )
                            }
                        },
                        label:{
                        normal:{
                            show:true,
                            position:'top',
                            textStyle:{
                                color:'#2CC9E2',
                            }
                        }
                       },
                    }
                
                ]
            }//option
        // for (var n = 0; n < 7; n++) {   
            // option.series[0].data[2*n+1]={
            //     itemStyle: {
            //         normal: {
            //             color: new echarts.graphic.LinearGradient(
            //                 0, 0, 0, 1,
            //                 [
            //                     {offset: 0, color: '#86b6ff'},
            //                     {offset: 1, color: '#405596'}
            //                 ]
            //             )
            //         }
            //     }
            // }
            // option.series[0].data[2*n]={
            //     itemStyle: {
            //         normal: {
            //             color: new echarts.graphic.LinearGradient(
            //                 0, 0, 0, 1,
            //                 [
            //                     {offset: 0, color: '#c688ff'},
            //                     {offset: 1, color: '#905aee'}
            //                 ]
            //             )
            //         }
            //     }
            // }
        // }
      }
    },
    store:store,
    computed:{

      isCase:{
        get: function(){
          return window.location.hash.length > 3 ? true :false;
        } 
      },
    },
    methods: {
    redom7(){
        if(this.chart){
            this.chart.dispose();
        }
    //   this.isActive=true;
      let dataY=[];
      let dataX=[];
    //   debugger
      for (var i = 0; i < this.barData.length; i++) {
          dataY.push(this.barData[i].num);
          dataX.push(this.barData[i].dayId);
          
      }
      this.$nextTick(echarts_resize(this.idName,this,dataX,dataY))
    },
    redom14(){
        if(this.chart){
            this.chart.dispose();
        }
        let dataY=[];
        let dataX=[];
        for (var i = 0; i < this.twoWeekMock.length; i++) {
            dataY.push(this.twoWeekMock[i].num);
            dataX.push(this.twoWeekMock[i].dayId)
        }
    // this.isActive=false;
    this.$nextTick(echarts_resize(this.idName,this,dataX,dataY))
    },
      redom (id,xyfonsiz,datax,datay) {
        var _self= this;
        _self.loading=false;
        this.chart = echarts.init(document.getElementById(id))
         _self.option.xAxis[0].data=datax;
        _self.option.series[0].data=datay;
    
        this.chart.setOption(_self.option)
      }
    },
    components:{},
    mounted() {
                //   this.isActive=true;
                let dataY=[];
                let dataX=[];
                for (var i = 0; i < this.barData.length; i++) {
                    dataY.push(this.barData[i].num);
                    dataX.push(this.barData[i].dayId.replace(/-/g,"/"))
                }
                this.$nextTick(echarts_resize(this.idName,this,dataX,dataY))
    }
  }
</script>
