<template>
  <layer >
  <div slot='footer'> 2017.7.13</div>
  <div slot='sure'>确认了</div>
  </layer>
</template>

<script>
import Vue from 'vue'
import layer from '../layer.vue'
export default {
  name: '',
  data () {
    return {
    }
  },
  computed: { 
  },
  methods: {
  },
  components:{layer
  }
}
</script>

<style lang="less" scoped>

</style>